.add_Fade_effects {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#modalOpen {
  animation: modal-in 0.8s;
  -moz-animation: modal-in 0.8s; /* Firefox */
  -webkit-animation: modal-in 0.8s; /* Safari and Chrome */
  -o-animation: modal-in 0.8s; /* Opera */
}

#modalClose {
  animation: modal-out 0.8s;
  -moz-animation: modal-out 0.8s; /* Firefox */
  -webkit-animation: modal-out 0.8s; /* Safari and Chrome */
  -o-animation: modal-out 0.8s; /* Opera */
}

#backdropIn {
  animation: backdrop-in 0.8s;
  -moz-animation: backdrop-in 0.8s; /* Firefox */
  -webkit-animation: backdrop-in 0.8s; /* Safari and Chrome */
  -o-animation: backdrop-in 0.8s; /* Opera */
}

#backdropOut {
  animation: backdrop-out 0.8s;
  -moz-animation: backdrop-out 0.8s; /* Firefox */
  -webkit-animation: backdrop-out 0.8s; /* Safari and Chrome */
  -o-animation: backdrop-out 0.8s; /* Opera */
}

@keyframes modal-in {
  from {
    opacity: 0;
    transform: translateY(0) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(10%) translateX(-50%);
  }
}

@keyframes modal-out {
  from {
    transform: translateY(10%) translateX(-50%);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes backdrop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.75;
  }
}

@keyframes backdrop-out {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 0;
  }
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
