<section class="games_filter_section">
  <div class="section_title_container">
    <h2 class="section_title">
      Filters: {{filtersNumber ? (filtersNumber) : ''}}</h2>
    <h2 class="reset_btn" (click)="resetFilter()" appResetDropdownFilter>Reset</h2>
  </div>

  <form class="example-form">
    <div class="search_input_container ">
      <div class="icon_container">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <input type="text"
             placeholder="Search for a game"
             [formControl]="control"
             [matAutocomplete]="auto"
             class="search_input"
             appResetOrder>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let game of filterObs | async" [value]="game">
          {{game}}
        </mat-option>
      </mat-autocomplete>
    </div>
  </form>

  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseOne">
          Price
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
           aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div class="price_items">
            <input type="radio" name="price_value" class="btn-check btn-check-price" id="btn-check-price-1"
                   autocomplete="off">
            <label class="btn btn-outline-dark" for="btn-check-price-1"
                   (click)="filterByPrice('free')">Free</label>
          </div>
          <div class="price_items">
            <input type="radio" name="price_value" class="btn-check btn-check-price" id="btn-check-price-2"
                   autocomplete="off">
            <label class="btn btn-outline-dark" for="btn-check-price-2"
                   (click)="filterByPrice(40)">Under RON 40.00</label>
          </div>
          <div class="price_items">
            <input type="radio" name="price_value" class="btn-check btn-check-price" id="btn-check-price-3"
                   autocomplete="off">
            <label class="btn btn-outline-dark" for="btn-check-price-3"
                   (click)="filterByPrice(80)">Under RON 80.00</label>
          </div>
          <div class="price_items">
            <input type="radio" name="price_value" class="btn-check btn-check-price" id="btn-check-price-4"
                   autocomplete="off">
            <label class="btn btn-outline-dark" for="btn-check-price-4"
                   (click)="filterByPrice('above')">RON 80.00 and above</label>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
          Platform
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
           aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <div class="platform_items">
            <input type="radio" name="platform_value" class="btn-check btn-check-platform" id="btn-check-platform-1"
                   autocomplete="off">
            <label class="btn btn-outline-dark" for="btn-check-platform-1"
                   (click)="filterByPlatform('pc')">PC</label>
          </div>
          <div class="platform_items">
            <input type="radio" name="platform_value" class="btn-check btn-check-platform" id="btn-check-platform-2"
                   autocomplete="off">
            <label class="btn btn-outline-dark" for="btn-check-platform-2"
                   (click)="filterByPlatform('ps4')">PS4</label>
          </div>
          <div class="platform_items">
            <input type="radio" name="platform_value" class="btn-check btn-check-platform" id="btn-check-platform-3"
                   autocomplete="off">
            <label class="btn btn-outline-dark" for="btn-check-platform-3"
                   (click)="filterByPlatform('xbox')">XBOX</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
