<div class="container">
  <app-games-type-carousel [gameTypes]="cardsData"
                           *ngIf="!loadingCards"></app-games-type-carousel>
  <app-games-type-carousel-placeholder *ngIf="loadingCards"></app-games-type-carousel-placeholder>
  <div class="row">
    <div class="col-9 game_cards_col" *ngIf="!loadingGames">
      <app-view-games
        [allGames]="filteredData"
        [showMessage]="message"
      ></app-view-games>
    </div>

    <div class="col-3 filter_col" *ngIf="!loadingGames">
      <app-games-filter
        [gamesData]="gamesData"
        (filteredGamesEvent)="getFilteredData($event)"
      ></app-games-filter>
    </div>

    <app-browser-page-placeholder *ngIf="loadingGames"></app-browser-page-placeholder>
  </div>
</div>
