<section class="type_games_page_section">
  <div class="container">
    <h1 class="section_title">{{gamesType ? (gamesType | titlecase) + ' ' + 'Games' : 'Games Type'}}</h1>
    <p class="section_description">Download and play {{gamesType | titlecase}} games from Game Store. We offer some of
      the best and most exciting {{gamesType | titlecase}} games.</p>

    <div class="row">
      <div class="col-9">
        <app-view-games [allGames]="filteredData"></app-view-games>
      </div>

      <div class="col-3">
        <app-games-filter *ngIf="!loading"
                          [gamesData]="gamesData"
                          (filteredGamesEvent)="getFilteredData($event)"
        ></app-games-filter>
      </div>

      <app-browser-page-placeholder *ngIf="loading"></app-browser-page-placeholder>
    </div>
  </div>
</section>
