<div class="container-fluid footer_component">
  <div class="footer_icons_container">
    <div>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-instagram"></i>
    </div>
    <div>
      <i class="fas fa-arrow-circle-up" appScrollUp></i>
    </div>
  </div>

  <div class="footer_resources_container">
    <h2 class="footer_resources_title">Resources</h2>
    <div class="footer_resources">
      <ul class="footer_resources_list">
        <li class="footer_resources_item"><p>Support-A-Creator</p></li>
        <li class="footer_resources_item"><p>Distribute on GameStore</p></li>
        <li class="footer_resources_item"><p>Careers</p></li>
        <li class="footer_resources_item"><p>Company</p></li>
      </ul>
      <ul class="footer_resources_list">
        <li class="footer_resources_item"><p>Fan Art Policy</p></li>
        <li class="footer_resources_item"><p>UX Research</p></li>
        <li class="footer_resources_item"><p>Store EULA</p></li>
      </ul>
      <ul class="footer_resources_list">
        <li class="footer_resources_item"><p>Online Services</p></li>
        <li class="footer_resources_item"><p>Community Rules</p></li>
        <li class="footer_resources_item"><p>GameStore Newsrooms</p></li>
      </ul>
    </div>
  </div>

  <div class="footer_resources_container">
    <h2 class="footer_resources_title">Made By GameStore</h2>
    <div class="footer_resources">
      <ul class="footer_resources_list">
        <li class="footer_resources_item"><p>Battle Breakers</p></li>
        <li class="footer_resources_item"><p>Fortnite</p></li>
        <li class="footer_resources_item"><p>Infinity Blade</p></li>
      </ul>
      <ul class="footer_resources_list">
        <li class="footer_resources_item"><p>Robo Recall</p></li>
        <li class="footer_resources_item"><p>Shadow Complex</p></li>
        <li class="footer_resources_item"><p>Unreal Tournament</p></li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-6">
      <p class="footer_info">© 2023, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a metus nec leo
        finibus
        aliquam. Nam
        ultricies iaculis risus, vitae auctor neque vulputate ac. Sed eget risus varius, facilisis enim sit amet,
        feugiat
        nulla. Donec fringilla iaculis nisl, non tempus sapien rutrum ut. Proin ante leo, vestibulum a finibus nec,
        porta
        eget diam. Quisque in nulla leo. Fusce eleifend nisi et ex malesuada rutrum. In efficitur lacinia dolor. </p>
    </div>
  </div>

  <div class="footer_info_menu">
    <div class="footer_menu">
      <p class="footer_menu_item">Terms of Service</p>
      <p class="footer_menu_item">Privacy Policy</p>
      <p class="footer_menu_item">Sore Refund Policy</p>
      <p class="footer_menu_item">Cookies Settings</p>
    </div>
    <div class="footer_logo">
      <i class="fas fa-fire-alt"></i>
      <i class="fab fa-reddit-alien"></i>
    </div>
  </div>
</div>
