<section class="news_page_section">
  <div class="container" *ngIf="!loading">
    <h1 class="section_title">Game Store News</h1>
    <div class="row gaming_news_main_card_row">
      <div class="col-6" *ngFor="let newsCard of gamingNewsMainCards">
        <app-gaming-news-main-card [newsCard]="newsCard"></app-gaming-news-main-card>
      </div>
    </div>

    <div class="row gaming_news_secondary_card_row">
      <div class="col-12" *ngFor="let newsCard of gamingNewsCards">
        <app-gaming-news-secondary-card [newsCard]="newsCard"></app-gaming-news-secondary-card>
      </div>
    </div>
    <app-pagination [allItems]="allCards" (sendItems)="getGamingNewsCards($event)"></app-pagination>
  </div>
  <div class="container">
    <app-news-page-placeholder *ngIf="loading"></app-news-page-placeholder>
  </div>
</section>

