*,
*::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  font-family: 'Roboto Flex', sans-serif;
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: $dark-color;
}
