<div class="gaming_news_secondary_card">
  <div class="row">
    <div class="col-3">
      <div class="card_img_container">
        <img class="card_img" alt="https://wallpaperaccess.com/full/3275651.jpg"
             src="{{newsCard.image}}">
      </div>
    </div>
    <div class="col-9">
      <div class="card_info">
        <div class="info">
          <p class="card_date">{{newsCard.date}}</p>
          <h2 class="card_title">{{newsCard.name}}</h2>
          <p class="card_description">{{newsCard.description}}</p>
        </div>
        <p class="read_more_btn">Read more</p>
      </div>
    </div>
  </div>
</div>
