<section class="news_page_section_placeholder">
  <h1 class="section_title_placeholder placeholder-wave" style="background-color: #393E46"></h1>
  <div class="row gaming_news_main_card_row_placeholder">
    <div class="col-6">
      <div class="gaming_news_main_card_placeholder">
        <div class="card_img_container_placeholder placeholder-wave" style="background-color: #393E46"></div>
        <p class="card_date_placeholder placeholder-wave" style="background-color: #393E46"></p>
        <h2 class="card_title_placeholder placeholder-wave" style="background-color: #393E46"></h2>
        <p class="card_description_placeholder placeholder-wave" style="background-color: #393E46"></p>
        <p class="read_more_btn_placeholder placeholder-wave" style="background-color: #393E46"></p>
      </div>
    </div>
    <div class="col-6">
      <div class="gaming_news_main_card_placeholder">
        <div class="card_img_container_placeholder placeholder-wave" style="background-color: #393E46"></div>
        <p class="card_date_placeholder placeholder-wave" style="background-color: #393E46"></p>
        <h2 class="card_title_placeholder placeholder-wave" style="background-color: #393E46"></h2>
        <p class="card_description_placeholder placeholder-wave" style="background-color: #393E46"></p>
        <p class="read_more_btn_placeholder placeholder-wave" style="background-color: #393E46"></p>
      </div>
    </div>
  </div>
  <div class="row gaming_news_secondary_card_row_placeholder">
    <div class="col-12" *ngFor="let card of placeholderCards">
      <div class="gaming_news_secondary_card_placeholder">
        <div class="row">
          <div class="col-3">
            <div class="card_img_container_placeholder placeholder-wave" style="background-color: #393E46">
            </div>
          </div>
          <div class="col-9">
            <div class="card_info_placeholder">
              <div class="info_placeholder">
                <p class="card_date_placeholder placeholder-wave" style="background-color: #393E46"></p>
                <h2 class="card_title_placeholder placeholder-wave" style="background-color: #393E46"></h2>
                <p class="card_description_placeholder placeholder-wave" style="background-color: #393E46"></p>
              </div>
              <p class="read_more_btn_placeholder placeholder-wave" style="background-color: #393E46"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
