<!--    placeholder-->
<div class="row">
  <div class="col-9">
    <div class="placeholder_title placeholder-wave" style="background-color: #393E46"></div>
    <div class="row placeholder_row">
      <div class="col-3" *ngFor="let placeholder of placeholders">
        <div class="placeholder_card placeholder-wave" style="background-color: #393E46">
          <div class="placeholder_image_container">
            <div class="placeholder_image placeholder-glow" style="background-color: #515864"></div>
          </div>
          <div class="placeholder_title_container">
            <div class="placeholder_name placeholder-glow" style="background-color: #515864"></div>
            <div class="placeholder_price placeholder-glow" style="background-color: #515864"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="d-flex justify-content-between">
      <div class="placeholder_title placeholder-wave" style="background-color: #393E46"></div>
      <div class="placeholder_title placeholder-wave" style="background-color: #393E46"></div>
    </div>
    <div class="placeholder_filter_card placeholder-wave" style="background-color: #393E46">
      <div class="placeholder_card_items placeholder-glow" style="background-color: #515864"></div>
      <div class="placeholder_card_items placeholder-glow" style="background-color: #515864"></div>
      <div class="placeholder_card_items placeholder-glow" style="background-color: #515864"></div>
    </div>
  </div>
</div>
