.type_games_page {
  margin-top: 2rem;

  .section_title {
    color: $light-color-2;
  }

  .section_description {
    color: $light-color-2;
  }

  .row {
    margin-top: 4rem;
  }
}
