/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");

.navbar {
  padding: 0 0 0 2rem;
  background-color: #393E46;
  z-index: 1001;
  font-family: "Roboto Flex", sans-serif;
}

.navbar .navbar-collapse {
  align-items: initial;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
  text-transform: uppercase;
  color: #EEEEEE;
  cursor: pointer;
}

.navbar-brand:hover {
  color: #7BC74D;
}

.navbar_leftMenu .nav-item {
  padding-right: 0.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: 0.6s;
  cursor: pointer;
}

.navbar_leftMenu .nav-item .nav-item:not(:first-child) {
  padding-left: 0.5rem;
}

.navbar_leftMenu .nav-item > .nav-link:hover {
  border-bottom: 4px solid #7BC74D;
}

.navbar_leftMenu .nav-item .nav-link {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar_rightMenu {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar_rightMenu .nav-item {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.navbar_rightMenu .login_btn {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 2.3rem;
  background: linear-gradient(90deg, rgb(43, 152, 0) 19%, rgb(98, 180, 36) 71%);
  height: 100%;
  width: 10rem;
  clip-path: polygon(47% 0, 100% 0, 100% 100%, 0% 100%);
  cursor: pointer;
  transition: all 0.3s;
}

.navbar_rightMenu .login_btn--icon {
  font-size: 2.5rem;
  color: #EEEEEE;
}

.navbar_rightMenu .login_btn--text {
  position: absolute;
  color: #EEEEEE;
  right: 8rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.8rem;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 0, 1, -0.01);
}

.navbar_rightMenu .login_btn:hover {
  background: linear-gradient(100deg, rgb(43, 152, 0) 19%, rgb(98, 180, 36) 71%);
  width: 18rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.navbar_rightMenu .login_btn:hover .login_btn--text {
  opacity: 1;
}

.navbar_rightMenu .icon_rightMenu {
  font-size: 2rem;
}

.navbar_rightMenu > .nav-item:not(:last-child) > .nav-link:hover {
  color: #7BC74D !important;
}

@media screen and (max-width: 992px) {
  .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar_leftMenu {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar_leftMenu .nav-item > .nav-link:hover {
    color: #7BC74D;
    border: none;
  }

  .navbar_rightMenu {
    padding-left: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar .login_btn {
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    width: initial;
    background: none;
    justify-content: center;
  }

  .navbar .login_btn--icon {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.55);
  }

  .navbar .login_btn:hover {
    background: none;
    width: initial;
  }

  .navbar .login_btn:hover .login_btn--icon {
    color: #7BC74D !important;
  }
}

.second_navbar_component {
  position: sticky;
  top: -1px;
  z-index: 1000;
  background-color: #222831;
  font-family: "Roboto Flex", sans-serif;
}

.second_navbar_component .nav_bar {
  padding: 0;
}

.second_navbar_component .nav_bar .container_list {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.second_navbar_component .nav_bar .container_list > li:not(:first-child) {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.second_navbar_component .nav_bar .container_list .nav-item {
  list-style-type: none;
  cursor: pointer;
  font-size: 1.8rem;
}

.second_navbar_component .nav_bar .container_list .nav-item:hover .nav-link {
  color: #7BC74D !important;
}

.second_navbar_component .nav_bar .container_list .nav-item .search_box {
  display: flex;
  height: 4rem;
}

.second_navbar_component .nav_bar .container_list .nav-item .search_box-input {
  outline: none;
  border: none;
  border-radius: 0 10px 10px 0;
  color: #EEEEEE;
  background-color: #393E46;
  font-size: 1.5rem;
  line-height: 40px;
  width: 24rem;
  padding: 0 0.6rem;
}

.second_navbar_component .nav_bar .container_list .nav-item .search_box-input::placeholder {
  color: #858d9a;
}

.second_navbar_component .nav_bar .container_list .nav-item .search_box-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 10px 0 0 10px;
  background-color: #393E46;
  color: #858d9a;
  width: 4rem;
}

.second_navbar_component .nav_bar .container_list .nav-link {
  text-decoration: none;
  color: #EEEEEE;
}

@media screen and (max-width: 992px) {
  .second_navbar_component .container_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .second_navbar_component .container_list .nav-item {
    margin-top: 1rem;
  }
}

.footer_component {
  margin-top: 4rem;
  background-color: #393E46;
  height: 70rem;
  padding-top: 3rem;
  padding-right: 6rem;
  padding-left: 6rem;
  font-family: "Roboto Flex", sans-serif;
}

.footer_component .footer_icons_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_component .footer_icons_container i {
  font-size: 3rem;
  color: #EEEEEE;
  transition: 0.3s;
  cursor: pointer;
}

.footer_component .footer_icons_container i:not(:last-child) {
  margin-right: 1.5rem;
}

.footer_component .footer_icons_container i:hover {
  color: #7BC74D;
}

.footer_component .footer_resources_container {
  margin-top: 2rem;
}

.footer_component .footer_resources_container .footer_resources_title {
  color: #7BC74D;
  font-size: 1.8rem;
}

.footer_component .footer_resources_container .footer_resources {
  display: flex;
}

.footer_component .footer_resources_container .footer_resources .footer_resources_list {
  margin-right: 3rem;
  padding: 0;
}

.footer_component .footer_resources_container .footer_resources .footer_resources_list .footer_resources_item {
  color: #EEEEEE;
  text-decoration: none;
  list-style-type: none;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.5rem;
}

.footer_component .footer_resources_container .footer_resources .footer_resources_list .footer_resources_item:hover {
  color: #7BC74D;
}

.footer_component hr {
  color: #EEEEEE;
}

.footer_component .footer_info {
  color: #EEEEEE;
  font-size: 1.3rem;
}

.footer_component .footer_info_menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_component .footer_info_menu .footer_menu {
  display: flex;
  flex-direction: row;
}

.footer_component .footer_info_menu .footer_menu .footer_menu_item {
  color: #EEEEEE;
  margin-right: 1.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.footer_component .footer_info_menu .footer_menu .footer_menu_item:hover {
  color: #7BC74D;
}

.footer_component .footer_info_menu .footer_logo {
  color: #EEEEEE;
}

.footer_component .footer_info_menu .footer_logo i {
  margin-right: 1.5rem;
  font-size: 3rem;
}

.footer_component .footer_info_menu .footer_logo i:first-child {
  color: orangered;
}

.footer_component .footer_info_menu .footer_logo i:last-child {
  color: #7BC74D;
}

.free_games_component {
  margin-top: 4rem;
}

.free_games_component .free_games_container {
  display: grid;
  grid-auto-flow: row;
  padding: 3rem;
  background-color: #393E46;
}

.free_games_component .free_games_container .free_games_header {
  display: flex;
  flex-direction: row;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  justify-content: space-between;
  align-items: center;
}

.free_games_component .free_games_container .free_games_header .free_games_section_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
  color: #EEEEEE;
  cursor: pointer;
}

.free_games_component .free_games_container .free_games_header .free_games_section_title .free_games_icon_container {
  height: 4rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.free_games_component .free_games_container .free_games_header .free_games_section_title .free_games_icon_container .free_games_icon {
  font-size: 2.5rem;
}

.free_games_component .free_games_container .free_games_header .free_games_section_title .free_games_title {
  margin-bottom: 0;
  margin-left: 0.5rem;
  font-size: 2.5rem;
}

.free_games_component .free_games_container .free_games_header .free_games_section_title:hover {
  color: #7BC74D;
  transform: translateY(-0.5rem);
}

.free_games_component .free_games_container .free_games_header button {
  height: 3.5rem;
  width: 13rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.free_games_component .free_games_container .free_games_grid_section {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  grid-template-columns: repeat(4, 280px);
  gap: 2rem;
}

.free_games_component .free_games_card_col {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommended_games_component {
  height: min-content;
  font-family: "Roboto Flex", sans-serif;
}

.recommended_games_component .rec_games_carousel_col {
  padding-left: 0;
}

.recommended_games_component .rec_games_carousel_col .carousel-item {
  height: 62rem;
  display: flex;
  justify-content: center;
  align-items: start;
}

.recommended_games_component .rec_games_carousel_col .carousel-item img {
  width: 100%;
  min-height: 100%;
  border-radius: 15px;
}

.recommended_games_component .rec_games_carousel_col .carousel-item .rec_games_description_container {
  position: absolute;
  left: 4rem;
  bottom: 4rem;
  width: 45rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 100px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 10px;
  padding: 10px;
  animation: fadeIn 5s;
}

.recommended_games_component .rec_games_carousel_col .carousel-item .rec_games_description_container .rec_games_description_term {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.recommended_games_component .rec_games_carousel_col .carousel-item .rec_games_description_container .rec_games_description_text {
  line-height: 1.5;
  color: white;
  font-size: 1.6rem;
  width: 35rem;
}

.recommended_games_component .rec_games_carousel_col .carousel-item .rec_games_description_container .rec_games_description_price {
  color: white;
  font-size: 1.6rem;
  margin: 0;
}

.recommended_games_component .rec_games_carousel_col .carousel-item .rec_games_description_container .rec_games_description_btn_container {
  display: flex;
  flex-direction: row;
}

.recommended_games_component .rec_games_carousel_col .carousel-item .rec_games_description_container .rec_games_description_btn_container button {
  font-size: 1.3rem;
  text-transform: uppercase;
  width: 18rem;
  height: 5rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommended_games_component .rec_games_carousel_col .carousel-item .rec_games_description_container .rec_games_description_btn_container button mat-icon {
  margin-right: 0.5rem;
}

.recommended_games_component .rec_games_cards_col {
  padding-right: 0;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recommended_games_component .rec_games_cards_col .rec_games_card_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10rem;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
}

.recommended_games_component .rec_games_cards_col .rec_games_card_container .rec_games_img_container {
  height: 8rem;
  width: 10rem;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.recommended_games_component .rec_games_cards_col .rec_games_card_container .rec_games_img_container img {
  height: 100%;
  border-radius: 10px;
  text-align: center;
}

.recommended_games_component .rec_games_cards_col .rec_games_card_container .rec_games_title {
  width: 100%;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #EEEEEE;
  margin-left: 2rem;
  margin-bottom: 0;
  font-family: inherit;
}

.recommended_games_component .rec_games_cards_col .rec_games_card_container:hover {
  background-color: #393E46;
  cursor: pointer;
}

.recommended_games_component .rec_games_cards_col .active_card {
  background-color: #393E46;
}

@media screen and (max-width: 768px) {
  .recommended_games_component .rec_games_carousel_col {
    padding-right: 0 !important;
  }

  .recommended_games_component .rec_games_carousel_col .carousel-item {
    height: auto !important;
    align-items: center !important;
    flex-direction: column !important;
  }

  .recommended_games_component .rec_games_carousel_col .carousel-item .rec_games_description_container {
    position: relative !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
  }

  .recommended_games_component .rec_games_carousel_col .carousel-item .rec_games_description_container .rec_games_description_btn_container {
    flex-direction: column !important;
  }

  .recommended_games_component .rec_games_carousel_col .carousel-item .rec_games_description_container .rec_games_description_btn_container button {
    width: 100% !important;
  }

  .recommended_games_component .rec_games_carousel_col .carousel-item .rec_games_description_container .rec_games_description_btn_container button:last-child {
    margin-top: 1rem !important;
  }

  .recommended_games_component .rec_games_carousel_col .carousel-item img {
    min-height: auto !important;
  }

  .recommended_games_component .rec_games_cards_col {
    margin-top: 1rem !important;
    padding-left: 0 !important;
  }
}

.top_games_component {
  margin-top: 4rem;
}

.top_games_component .row {
  height: 100%;
}

.top_games_component .row > div:not(:last-child) {
  border-right: 0.1rem solid rgba(57, 62, 70, 0.3);
}

.top_games_component .row > div {
  padding-left: 2rem;
  padding-right: 2rem;
}

.top_games_component .row .title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top_games_component .row .title_container .title {
  margin: 0;
  color: #EEEEEE;
  font-size: 2.5rem;
  font-family: "Roboto Flex", sans-serif;
}

.top_games_component .row .title_container button {
  height: 3.2rem;
  font-size: 1.2rem;
  width: 10rem;
  text-transform: uppercase;
}

.top_games_component .row .game_card_container .game_card:first-child {
  margin-top: 1rem;
}

.top_games_component .row .game_card_container .game_card {
  padding-left: 1.5rem;
  height: 10rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.top_games_component .row .game_card_container .game_card:hover {
  background-color: #393E46;
}

.top_games_component .row .game_card_container .game_card .game_image_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_games_component .row .game_card_container .game_card .game_image_container .game_image {
  background-color: #7BC74D;
  height: 80%;
  width: 6.5rem;
  border-radius: 8px;
}

.top_games_component .row .game_card_container .game_card .game_description_container {
  margin-left: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.top_games_component .row .game_card_container .game_card .game_description_container .game_title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 25px;
  font-family: "Roboto Flex", sans-serif;
}

.top_games_component .row .game_card_container .game_card .game_description_container .game_validity {
  margin: 0;
  font-size: 1.5rem;
  line-height: 25px;
  font-family: "Roboto Flex", sans-serif;
}

.top_games_component .row .game_card_container .game_card .game_description_container .game_price {
  margin: 0;
  font-size: 1.3rem;
  line-height: 25px;
  font-family: "Roboto Flex", sans-serif;
}

.top_games_component .row .game_card_container .game_card .add_icon_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  background-color: #222831;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  border: 1px solid #EEEEEE;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
}

.top_games_component .row .game_card_container .game_card .add_icon_container .add_icon {
  color: #EEEEEE;
  font-size: 1.8rem;
  height: max-content;
  width: max-content;
}

.top_games_component .row .game_card_container .game_card .add_icon_container:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}

.top_games_component .row .game_card_container .game_card .add_icon_container:hover .add_icon {
  color: #222831;
}

.top_games_component .free_now_class {
  color: #EEEEEE;
}

.top_games_component .comming_soon_class {
  color: #858d9a;
}

.card_carousel_component {
  height: max-content;
  margin-top: 4rem;
}

.card_carousel_component .col-12 .section_title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_carousel_component .col-12 .section_title_container .section_title {
  font-size: 2rem;
  color: #EEEEEE;
  margin: 0;
  cursor: pointer;
  transition: 0.3s all;
  font-family: "Roboto Flex", sans-serif;
}

.card_carousel_component .col-12 .section_title_container .section_title:hover {
  color: #7BC74D;
  transform: translateY(-0.5rem);
}

.card_carousel_component .col-12 .section_title_container .button-area {
  display: flex;
  flex-direction: row;
}

.card_carousel_component .col-12 .section_title_container .button-area .prev {
  color: #EEEEEE;
  cursor: pointer;
  margin-right: 1rem;
  background-color: #393E46;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.card_carousel_component .col-12 .section_title_container .button-area .next {
  color: #EEEEEE;
  cursor: pointer;
  background-color: #393E46;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_carousel_component .product {
  position: relative;
}

.card_carousel_component .product .slider-wrap {
  position: relative;
  overflow: hidden;
  height: 450px;
  width: 100%;
}

.card_carousel_component .product .slider-wrap .slider-main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 3.9rem;
  justify-content: start;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .card_carousel_component .slider-main {
    display: grid !important;
    grid-auto-flow: row !important;
    margin-top: 2rem;
    justify-content: center !important;
  }
}

.card {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.card .container_img {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 0.9;
}

.card .container_img:hover {
  filter: brightness(115%);
}

.card .container_img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}

.card-body {
  background-color: transparent;
  border-radius: 0 0 10px 10px;
  padding-left: 0;
  padding-right: 0;
}

.card-body .container_title {
  display: flex;
  align-items: center;
  height: 4rem;
}

.card-body .container_title .card-title {
  color: #EEEEEE;
  font-size: 1.5rem;
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
}

.card-body .card_type {
  color: #858d9a;
  text-transform: uppercase;
}

.carouselCard .card-body .card-text {
  color: #EEEEEE;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1rem;
  font-family: "Roboto Flex", sans-serif;
}

.freeGameCard .freeNow {
  background-color: #7BC74D;
}

.freeGameCard .comingSoon {
  background-color: #858d9a;
}

.freeGameCard .date_release_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freeGameCard .date_release_container .date_release {
  color: #EEEEEE;
  margin: 0;
  font-weight: 500;
  font-family: "Roboto Flex", sans-serif;
}

.freeGameCard .card-body .card-title {
  font-size: 1.6rem;
  font-family: "Roboto Flex", sans-serif;
}

.freeGameCard .card-body .card-text {
  color: #858d9a;
  font-size: 1.6rem;
  font-family: "Roboto Flex", sans-serif;
}

.detailsGameCard .container_img {
  height: 300px;
}

.detailsGameCard .card-body {
  height: 100%;
}

.detailsGameCard .card-body .container_title {
  flex-direction: column;
  align-items: start;
  height: 100%;
}

.detailsGameCard .card-body .card-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-family: "Roboto Flex", sans-serif;
}

.detailsGameCard .card-body .card_description {
  color: #858d9a;
  font-size: 1.5rem;
  font-family: "Roboto Flex", sans-serif;
}

.detailsGameCard .card-body .card_price {
  margin-top: 2rem;
  color: #EEEEEE;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Roboto Flex", sans-serif;
}

.hoverCard .add_icon_container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #222831;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 8px;
  border: 1px solid #EEEEEE;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
}

.hoverCard .add_icon_container .add_icon {
  color: #EEEEEE;
  font-size: 2rem;
  height: max-content;
  width: max-content;
}

.hoverCard .add_icon_container:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}

.hoverCard .add_icon_container:hover .add_icon {
  color: #222831;
}

@media screen and (max-width: 992px) {
  .card {
    height: 425px !important;
    width: 260px !important;
  }
}

*,
*::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto Flex", sans-serif;
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #222831;
}

.add_Fade_effects {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
