<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand"
     routerLink="/home"
     routerLinkActive="active">Game Store 👽
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!--Navigation Pages-->
    <ul class="navbar-nav navbar_leftMenu me-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/home"
          routerLinkActive="active">
          Store
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="game-types"
          routerLinkActive="active">
          News
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="game-types"
          routerLinkActive="active">
          FQA
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="game-types"
          routerLinkActive="active">
          Help
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="contact"
           routerLinkActive="active"
        >Contact</a>
      </li>

      <!--icons Nav-->
    </ul>
    <ul class="navbar-nav navbar_rightMenu">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="favorite-games"
           routerLinkActive="active"
        >
          <mat-icon class="icon_rightMenu">favorite</mat-icon>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
           routerLink="shopping-cart"
           routerLinkActive="active"
        >
          <mat-icon class="icon_rightMenu">shopping_cart</mat-icon>
        </a>
      </li>

      <li class="nav-item login_btn">
        <p class="login_btn--text">Sign In</p>
        <a class="nav-link"
           routerLink="shopping-cart"
           routerLinkActive="active"
        >
          <mat-icon class="login_btn--icon">person</mat-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>




