.news_page_section {
  margin-top: 2rem;

  .section_title {
    color: $light-color-2;
    font-size: $font-size-1;
    cursor: pointer;
    transition: all 0.3s;
    width: max-content;

    &:hover {
      color: $light-color-3;
      transform: translateY(-0.5rem);
    }
  }

  .game_news_main_card_row {
    margin-top: 2rem;
  }

  .gaming_news_secondary_card_row {
    margin-top: 2rem;

    & .col-12:not(:first-child) {
      margin-top: 2rem;
    }
  }
}
