<section class="view_games_component">
  <div class="dropdown">
    <button class="btn btn-lg dropdown-toggle filter_btn_dropdown" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
      <strong>Show:</strong> All
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" appBehaviorDropdownButton (click)="sendOrderType.next('all')">All</a></li>
      <li><a class="dropdown-item" appBehaviorDropdownButton
             (click)="sendOrderType.next('alphabetical')">Alphabetical</a>
      </li>
      <li><a class="dropdown-item" appBehaviorDropdownButton (click)="sendOrderType.next('desc')">Price: High to Low</a>
      </li>
      <li><a class="dropdown-item" appBehaviorDropdownButton (click)="sendOrderType.next('asc')">Price: Low to High</a>
      </li>
    </ul>
  </div>

  <div class="row mt-4">
    <div class="col-3" *ngFor="let game of allGames; let i = index">
      <app-game-card
        *ngIf="i < 12"
        [allGames]="game"
        [cardType]="'carouselCard'"
        [cardStyle]="{width: '200px', height: '360px', margin: '0 0 4rem 0'}"
        (click)="selectGame(game)"
      ></app-game-card>
    </div>
  </div>

  <div class="no_game_message" *ngIf="showMessage">
    <h1 class="title_message">No results found</h1>
    <p class="message">Unfortunately I could not find any results matching your search.</p>
  </div>
</section>
